
/*redefine the sale banned*/

.sale-banner::before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border: 6px dashed #fff;
    pointer-events: none;
    -webkit-clip-path: inset(4px 4px 4px 4px);
            clip-path: inset(4px 4px 4px 4px);
  }
  .sale-banner .banner-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sale-banner .banner-subtitle {
    position: relative;
    margin-right: 2rem;
    padding: 2.6rem 7px 2.6rem 3.5rem;
    font-size: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #666;
    line-height: 1.2;
    z-index: 1;
    white-space: nowrap;
  }
  .sale-banner .banner-subtitle span {
    font-size: 0.45em;
    font-weight: 400;
  }
  .sale-banner .banner-subtitle::before, .sale-banner .banner-subtitle::after {
    content: "";
    position: absolute;
    right: -24px;
    top: -25px;
    bottom: -20px;
    border-right: 50px solid #666;
    -webkit-transform: rotate(26deg);
            transform: rotate(26deg);
    z-index: -1;
  }
  .sale-banner .banner-subtitle::after {
    right: -35px;
    border-right-width: 5px;
  }
  .sale-banner .content-right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 25.7rem);
            flex: 0 0 calc(100% - 25.7rem);
    max-width: calc(100% - 25.7rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.8rem 3.6rem 2.8rem 0;
    background-color: black;
  }
  .sale-banner .banner-title {
    overflow: hidden;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 3.4em;
    font-style: italic;
  }
  .sale-banner .banner-title span {
    white-space: nowrap;
    -webkit-animation: slideX 60s infinite linear 1s;
            animation: slideX 60s infinite linear 1s;
    display: inline-block;
  }
  .sale-banner .btn {
    padding-left: 1.9em;
    padding-right: 1.9em; -ms-scroll-limit-x-max: ;
    background-color: #666;
    border-color: #fff;
  }
  .sale-banner .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
  }
  
  .sale-banner-section {
    padding-bottom: 0.7rem;
  }
  .banner-newsletter-bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem 5.9rem;
  }
  .banner-newsletter-bg .content-left {
    margin-right: 5.3rem;
  }
  .banner-newsletter-bg .content-right {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .banner-newsletter-bg .banner-title {
    margin-bottom: 0.6rem;
    font-size: 1.6rem;
    line-height: 1;
  }
  .banner-newsletter-bg p {
    font-size: 1.3rem;
    line-height: 1;
  }
  .banner-newsletter-bg .input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
  }
  .banner-newsletter-bg .form-control {
    margin-right: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: none;
    background-color: #fff;
  }
  
  @media (max-width: 991px) {
    .expanded-newsletter {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    .expanded-newsletter .icon-box-side {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  
    .banner-newsletter-bg {
      display: block;
      text-align: center;
    }
    .banner-newsletter-bg .content-left {
      margin-right: 0;
    }
  }
  @media (max-width: 767px) {
    .sale-banner .banner-content {
      display: block;
    }
    .sale-banner .banner-subtitle {
      padding-bottom: 0;
    }
    .sale-banner .banner-subtitle::after, .sale-banner .banner-subtitle::before {
      left: -10px;
      bottom: -20px;
      top: auto;
      border-top: 42px solid #454545;
      -webkit-transform: rotate(-3deg);
              transform: rotate(-3deg);
    }
    .sale-banner .banner-subtitle::after {
      bottom: -30px;
      border-top-width: 5px;
    }
    .sale-banner .content-right {
      display: block;
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none;
      max-width: none;
      margin-top: -4rem;
      padding: 4rem 0 3rem;
    }
    .sale-banner .btn {
      margin-left: 3rem;
    }
  
    .link-banner-newsletter {
      display: block;
      padding: 4rem 3rem 2rem;
    }
    .link-banner-newsletter .content-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    .link-banner-newsletter .content-right a:first-child {
      margin-right: 2rem;
    }
  }
  @media (max-width: 575px) {
    .expanded-newsletter .icon-box-side {
      display: block;
      text-align: center;
    }
    .expanded-newsletter .icon-box-side .icon-box-icon {
      padding: 1rem;
      margin: 0 0 1.5rem;
    }
    .expanded-newsletter .icon-box-side .icon-box-content {
      text-align: center;
    }
  
    .sale-banner {
      font-size: 0.8rem;
    }
  }
  @media (max-width: 479px) {
    .banner-newsletter .input-wrapper-inline {
      display: block;
    }
    .banner-newsletter .input-wrapper-inline::before {
      top: 25%;
    }
  
    .banner-newsletter-bg {
      padding: 4rem 1.5rem;
    }
    .banner-newsletter-bg .input-wrapper {
      display: block;
    }
    .banner-newsletter-bg .form-control {
      margin-bottom: 1.5rem;
      margin-right: 0;
    }
  }

  /*style count*/
  .counter span {
    font-size: 6rem;
    font-weight: 800;
    color: #ccc;
    letter-spacing: -0.05em;
    line-height: 1.54;
  }
  

  /*style nos service*/
  .how-trade h4 {
    margin-bottom: 1.7rem;
  }
  .how-trade .title {
    margin-bottom: 1.3rem;
    line-height: 1.25;
  }
  .how-trade .stage-item p {
    margin-left: 1.2rem;
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .how-trade svg {
    fill: #008000;
    min-width: 6.1rem;
    width: 6.1rem;
    height: 6.1rem;
  }
  .how-trade img {
    max-height: 52rem;
  }
  
  .stage-get .stage-item p {
    margin-left: 0.7rem;
  }

  /*-------------------------
    Page Header
        - Page Header
        - Page Title
        - Page Subtitle
--------------------------*/
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 18rem;
  background-color: #eee;
  text-align: center;
  text-transform: capitalize;
}

.page-title {
  font-size: 3.4rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 1.1;
  margin-bottom: 0.2rem;
}

.page-subtitle {
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.6;
  color: #666;
}

.cart .page-header,
.checkout .page-header {
  height: 134px;
  background: #fff;
}


/*----------------------------------
    About Us
        - Icon Box
        - Timeline
-----------------------------------*/
.about-us .introduce .title {
  margin-bottom: 1.3rem;
  font-size: 4rem;
}
.about-us .introduce p {
  margin-bottom: 4.3rem;
  max-width: 57rem;
}
.about-us .introduce img {
  min-height: 20rem;
}
.about-us .customer-service .card-header {
  font-size: 2.8rem;
}
.about-us .customer-service p {
  font-size: 1.4rem;
  color: #333;
}
.about-us .customer-service img,
.about-us .boost-section img {
  width: 100%;
}
.about-us .customer-service .title,
.about-us .boost-section .title,
.about-us .member-section .title {
  font-size: 3.4rem;
}
.about-us .counter span {
  font-size: 6rem;
  font-weight: 800;
  color: #ccc;
  letter-spacing: -0.05em;
  line-height: 1.54;
}
.about-us .counter .title {
  margin-bottom: 1.2rem;
}
.about-us .boost-section {
  background-color: #fafafb;
}
.about-us .boost-section .title {
  line-height: 1.25;
  margin-bottom: 1.3rem;
}
.about-us .boost-section .btn {
  padding: 1.23em 2.35em;
}
.about-us .awards-wrapper .title {
  font-size: 3rem;
}
.about-us .awards-wrapper img {
  width: auto;
  margin: 0 auto 2rem;
}
.about-us .awards-wrapper p {
  margin-bottom: 0;
  font-size: 2rem;
  color: #333;
  line-height: 1.6;
  letter-spacing: -0.025em;
}
.about-us .member-section figure {
  position: relative;
  max-width: 29.5rem;
  margin: 0 auto 2.5rem;
}
.about-us .member-section figure:hover .overlay {
  padding-top: 0;
  opacity: 1;
}
.about-us .member-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10rem;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1.3rem;
  opacity: 0;
  border-radius: 1.3rem;
  -webkit-transition: opacity 0.3s, padding-top 0.3s;
  transition: opacity 0.3s, padding-top 0.3s;
  cursor: pointer;
}
.about-us .member-section .overlay p {
  margin-bottom: 0;
  text-transform: uppercase;
}
.about-us .member-section .member-name {
  margin-bottom: 0;
}
.about-us .member-section .social-icon {
  width: 4.6rem;
  height: 4.6rem;
  font-size: 2.4rem;
  line-height: 4.1rem;
  border-color: #fff;
  color: #fff;
}
.about-us .member-section .social-icon:hover.social-facebook {
  background-color: #1b4f9b;
  border-color: #1b4f9b;
}
.about-us .member-section .social-icon:hover.social-twitter {
  background-color: #00adef;
  border-color: #00adef;
}
.about-us .member-section .social-icon:hover.social-instagram {
  background-color: #cc0001;
  border-color: #cc0001;
}

@media (max-width: 991px) {
  .about-us .customer-service .title,
.about-us .boost-section .title {
    font-size: 2.5rem;
  }
}
@media (max-width: 767px) {
  .about-us .introduce .title {
    font-size: 3rem;
  }
}
/*----------------------------------------
    Accordion
-----------------------------------------*/
.color-accordion-section .accordion-primary .card-body {
  background-color: #f8f8f8;
  padding-bottom: 1.3rem;
}

.icon-accordion-section {
  margin-bottom: 3.7rem;
}
/*----------------------------------------
    Accordion
-----------------------------------------*/
.accordion {
  overflow: hidden;
}
.accordion .collapsed,
.accordion .expanding {
  display: none;
}

.card-header {
  color: #333;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1.5;
}
.card-header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  padding: 1.4rem 2rem 1.4rem 5rem;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.card-header a.collapse {
  color: #008000;
}
.card-header a::after, .card-header a::before {
  position: absolute;
  top: 50%;
  left: 2rem;
  margin-top: -0.1rem;
  font-family: "wolmart";
  font-size: 1.2rem;
  font-weight: 400;
  color: #333;
}
.card-header a:hover {
  color: #008000;
}
.card-header a:hover::after {
  color: #008000;
}

.expand::after, .collapse::after {
  content: "";
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.expand::after {
  -webkit-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}

.collapse::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.card-body {
  padding: 1.2rem 2rem;
}
.card-body p {
  font-size: 1.3rem;
  line-height: 2;
}

.accordion-simple .card {
  border-top: 1px solid #eee;
}
.accordion-simple .card:last-child {
  border-bottom: 1px solid #eee;
}
.accordion-simple .card-body {
  padding-top: 0;
}

.accordion-boxed .card-header a {
  padding-bottom: 1.6rem;
}
.accordion-boxed .card {
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}
.accordion-boxed .card:last-child {
  border-bottom: 1px solid #eee;
}
.accordion-boxed .card-body {
  padding-top: 0.5rem;
  padding-bottom: 1.1rem;
}
.accordion-boxed.accordion-gutter-md .card {
  border: 1px solid #eee;
}
.accordion-boxed.accordion-plus .expand::after, .accordion-boxed.accordion-plus .expand::before, .accordion-boxed.accordion-plus .collapse::after, .accordion-boxed.accordion-plus .collapse::before {
  background-color: #333;
}

.accordion-bg .card-header a {
  background-color: #f5f5f5;
}
.accordion-bg.accordion-primary .card-header a {
  background-color: #336699;
  color: #fff;
}
.accordion-bg.accordion-primary .card-header a::after {
  color: #fff;
}
.accordion-bg.accordion-plus .expand::before, .accordion-bg.accordion-plus .expand::after, .accordion-bg.accordion-plus .collapse::before, .accordion-bg.accordion-plus .collapse::after {
  background-color: #fff;
}

.accordion-plus .expand::before, .accordion-plus .collapse::before {
  content: "";
  width: 1px;
  height: 1rem;
  left: 2.4rem;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s, -webkit-transform 0.3s;
}
.accordion-plus .expand::after, .accordion-plus .collapse::after {
  content: "";
  width: 1rem;
  height: 1px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.accordion-plus .expand::before {
  background-color: #333;
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}
.accordion-plus .expand::after {
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}
.accordion-plus .collapse::before {
  background-color: transparent !important;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.accordion-plus .collapse::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.accordion-plus .expand::after, .accordion-plus .collapse::after {
  font-size: 1.6rem;
  left: 2rem;
  background-color: #333;
}

.accordion-border .card-body {
  border: 1px solid #eee;
  border-top: 0;
}

.accordion-icon .card-header i {
  font-size: 1.7rem;
  margin: 0 0.8rem 0 0;
}
.accordion-icon .card-body {
  padding-top: 0.3rem;
  padding-bottom: 1.2rem;
}
.accordion-icon.accordion a {
  padding: 1.8rem 2rem 1.8rem 5rem;
  word-break: break-word;
}

.accordion-gutter-md .card:not(:first-child) {
  margin-top: 1rem;
}

@media (max-width: 375px) {
  .without-bg-section .title::before, .without-bg-section .title::after {
    content: none;
  }
}


/* -------------------------------------------
    Swiper Container
---------------------------------------------- */
.swiper {
  position: relative;
}
.swiper > .swiper-container {
  position: static;
}
.swiper > .swiper-container > .swiper-pagination {
  bottom: -4.5rem;
}

.swiper-pagination {
  position: static;
  margin-top: 1.5rem;
}
.swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid #d7d7d7;
  opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet:hover {
  background-color: #ccc;
  border-color: #ccc;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #008000;
  border-color: #008000;
}

.swiper-container-rtl .swiper-button-next::after,
.swiper-container-rtl .swiper-button-prev::after {
  content: "";
}
.swiper-container-rtl .swiper-button-next::before {
  content: "";
}
.swiper-container-rtl .swiper-button-prev::before {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  padding: 0;
  z-index: 99;
  border: none;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}
.swiper-button-next::before,
.swiper-button-prev::before {
  font-family: "Wolmart";
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  cursor: default;
  color: #ccc;
}

.swiper-button-next::before {
  content: "";
}

.swiper-button-prev::before {
  content: "";
}

.swiper-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.swiper-container:not(.swiper-container-initialized) .swiper-wrapper {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  width: auto;
}
.swiper-container:not(.swiper-container-initialized) .swiper-slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-container:not(.swiper-container-initialized) .swiper-wrapper.row {
  width: calc(100% + 2rem);
}
.swiper-container:not(.swiper-container-initialized) .swiper-wrapper.gutter-no {
  width: 100%;
}
.swiper-container:not(.swiper-container-initialized) .swiper-wrapper.gutter-xs {
  width: calc(100% + 2*1px);
}
.swiper-container:not(.swiper-container-initialized) .swiper-wrapper.gutter-sm {
  width: calc(100% + 2*5px);
}
.swiper-container:not(.swiper-container-initialized) .swiper-wrapper.gutter-md {
  width: calc(100% + 2*10px);
}
.swiper-container:not(.swiper-container-initialized) .swiper-wrapper.gutter-lg {
  width: calc(100% + 2*15px);
}

.swiper-theme .swiper-button-prev,
.swiper-theme .swiper-button-next {
  margin: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 400;
  color: #008000;
}
.swiper-theme .swiper-button-prev:not(.swiper-button-disabled):hover, .swiper-theme .swiper-button-prev:not(.swiper-button-disabled):active, .swiper-theme .swiper-button-prev:not(.swiper-button-disabled):focus,
.swiper-theme .swiper-button-next:not(.swiper-button-disabled):hover,
.swiper-theme .swiper-button-next:not(.swiper-button-disabled):active,
.swiper-theme .swiper-button-next:not(.swiper-button-disabled):focus {
  color: #fff;
  background-color: #008000;
  border-color: #008000;
}
.swiper-theme .swiper-button-prev.swiper-button-disabled,
.swiper-theme .swiper-button-next.swiper-button-disabled {
  color: #ccc;
  opacity: 0.6;
}
.swiper-theme .swiper-button-prev {
  left: -40px;
}
.swiper-theme .swiper-button-next {
  right: -40px;
}
.swiper-theme .swiper-pagination .swiper-pagination-bullet {
  margin: 5px;
}
.swiper-theme .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #008000;
  border-color: #008000;
  width: 8px;
}

@media (max-width: 1300px) {
  .swiper-theme .swiper-button-prev {
    left: 20px;
  }
  .swiper-theme .swiper-button-next {
    right: 20px;
  }
}
.nav-inner > .swiper-button-prev,
.nav-inner > .swiper-button-next {
  opacity: 0;
  visibility: hidden;
}
.nav-inner > .swiper-button-prev {
  left: 0;
}
.nav-inner > .swiper-button-next {
  right: 0;
}
.nav-inner:hover > .swiper-button-prev,
.nav-inner:hover > .swiper-button-next {
  opacity: 1;
  visibility: visible;
}
.nav-inner:hover > .swiper-button-prev {
  left: 2rem;
}
.nav-inner:hover > .swiper-button-next {
  right: 2rem;
}

.nav-top > .swiper-button-next,
.nav-top > .swiper-button-prev {
  position: absolute;
  width: 15px;
  top: -5.3rem;
  left: auto;
  color: #777;
  font-size: 1.4rem;
  font-weight: 400;
}
.nav-top > .swiper-button-next:not(.swiper-button-disabled):hover, .nav-top > .swiper-button-next:not(.swiper-button-disabled):active, .nav-top > .swiper-button-next:not(.swiper-button-disabled):focus,
.nav-top > .swiper-button-prev:not(.swiper-button-disabled):hover,
.nav-top > .swiper-button-prev:not(.swiper-button-disabled):active,
.nav-top > .swiper-button-prev:not(.swiper-button-disabled):focus {
  background-color: transparent;
  border-color: transparent;
  color: #008000;
}
.nav-top > .swiper-button-next.swiper-button-disabled,
.nav-top > .swiper-button-prev.swiper-button-disabled {
  color: #666;
}
.nav-top > .swiper-button-next {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  right: 3.7rem;
}
.nav-top > .swiper-button-prev {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  right: 3.5rem;
}

.nav-right .swiper-button-prev,
.nav-right .swiper-button-next {
  position: absolute;
  right: 3rem;
  top: auto;
  bottom: 2.8rem;
  left: auto;
}
.nav-right .swiper-button-prev {
  right: 5.5rem;
}

.pg-white > .swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
  border-color: #fff;
  opacity: 0.8;
}
.pg-white > .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #008000;
  border-color: #008000;
  opacity: 1;
}

.pg-grey > .swiper-pagination .swiper-pagination-bullet {
  background-color: #eee;
  border-color: #eee;
}
.pg-grey > .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #008000;
  border-color: #008000;
}

.swiper-theme > .swiper-pagination .swiper-pagination-bullet {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.swiper-theme > .swiper-pagination .swiper-pagination-bullet-active {
  width: 18px;
  border-radius: 9rem;
}

.pg-inner .swiper-pagination {
  position: absolute;
  bottom: 4.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pg-right .swiper-pagination {
  position: absolute;
  bottom: 4.2rem;
  right: 3rem;
  left: auto;
  width: unset;
}

.swiper-img-dots {
  z-index: 1000;
}
.swiper-img-dots a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  margin: 0 1.5rem 1rem;
  border-radius: 50%;
  border: 3px solid transparent;
  -webkit-box-shadow: 0 0 0 2px #ccc;
          box-shadow: 0 0 0 2px #ccc;
  overflow: hidden;
  -webkit-transition: padding 0.4s, -webkit-box-shadow 0.4s;
  transition: padding 0.4s, -webkit-box-shadow 0.4s;
  transition: padding 0.4s, box-shadow 0.4s;
  transition: padding 0.4s, box-shadow 0.4s, -webkit-box-shadow 0.4s;
}
.swiper-img-dots a.active, .swiper-img-dots a:hover {
  -webkit-box-shadow: 0 0 0 2px #008000;
          box-shadow: 0 0 0 2px #008000;
}
.swiper-img-dots a img {
  border-radius: 50%;
}

.brands-swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-container .slide-animate {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
  will-change: filter, transform, opacity;
  opacity: 0;
}
.swiper-container .slide-animate.show-content {
  opacity: 1;
}

.shadow-swiper {
  margin: -20px;
  padding: 20px;
}

@media (max-width: 575px) {
  .shadow-swiper {
    margin: -15px;
    padding: 15px;
  }
}
.swiper-nav-lg > .swiper-button-next,
.swiper-nav-lg > .swiper-button-prev,
.swiper-nav-md > .swiper-button-next,
.swiper-nav-md > .swiper-button-prev {
  background-color: transparent;
  border: none;
}
.swiper-nav-lg > .swiper-button-next:not(.swiper-button-disabled):hover, .swiper-nav-lg > .swiper-button-next:not(.swiper-button-disabled):focus, .swiper-nav-lg > .swiper-button-next:not(.swiper-button-disabled):active,
.swiper-nav-lg > .swiper-button-prev:not(.swiper-button-disabled):hover,
.swiper-nav-lg > .swiper-button-prev:not(.swiper-button-disabled):focus,
.swiper-nav-lg > .swiper-button-prev:not(.swiper-button-disabled):active,
.swiper-nav-md > .swiper-button-next:not(.swiper-button-disabled):hover,
.swiper-nav-md > .swiper-button-next:not(.swiper-button-disabled):focus,
.swiper-nav-md > .swiper-button-next:not(.swiper-button-disabled):active,
.swiper-nav-md > .swiper-button-prev:not(.swiper-button-disabled):hover,
.swiper-nav-md > .swiper-button-prev:not(.swiper-button-disabled):focus,
.swiper-nav-md > .swiper-button-prev:not(.swiper-button-disabled):active {
  background-color: transparent;
  border: none;
}

.swiper-nav-lg > .swiper-button-next,
.swiper-nav-lg > .swiper-button-prev {
  font-size: 4.8rem;
}

.swiper-nav-md > .swiper-button-next,
.swiper-nav-md > .swiper-button-prev {
  font-size: 3.3rem;
}

@media (max-width: 575px) {
  .swiper-img-dots a {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.pg-show > .swiper-pagination {
  display: block;
}

@media (min-width: 1200px) {
  .pg-xl-hide > .swiper-pagination {
    display: none;
  }
}
@media (min-width: 1600px) {
  .pg-xxl-hide > .swiper-pagination {
    display: none;
  }
}
.nav-hide > .swiper-button-prev,
.nav-hide > .swiper-button-next {
  display: none;
}

@media (min-width: 1200px) {
  .nav-xl-show > .swiper-button-prev,
.nav-xl-show > .swiper-button-next {
    display: block;
  }
}
@media (min-width: 1600px) {
  .nav-xxl-show > .swiper-button-prev,
.nav-xxl-show > .swiper-button-next {
    display: block;
  }
}
.wolmart-sellers h4 {
  margin: 4.7rem 0 1.9rem;
}
.wolmart-sellers h2 {
  margin-bottom: 1.4rem;
  line-height: 1.22;
}
.wolmart-sellers p {
  margin-bottom: 2.6rem;
}


/*-----------------------------------
    Testimonial
------------------------------------*/
.testimonial {
  font-family: Poppins, sans-serif;
  padding: 0 3rem 1rem;
}
.testimonial cite {
  color: #333;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
}
.testimonial cite span {
  display: block;
  text-align: center;
  margin-top: 0.6rem;
  font-size: 1.3rem;
  color: #999;
  line-height: 1.3;
  letter-spacing: 0.003em;
  font-weight: 400;
}
.testimonial blockquote {
  position: relative;
  line-height: 1.86;
  text-align: center;
}

.testimonial.swiper-slide {
  margin: 0;
}

.testimonial-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.9rem;
}
.testimonial-info .testimonial-author-thumbnail {
  margin-bottom: 2.5rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.testimonial-info img {
  width: 100%;
  height: auto;
}
.testimonial-info .ratings-container {
  margin-bottom: 0.9rem;
  font-size: 1.1rem;
}
.testimonial-info .ratings-container .ratings-full {
  margin-right: 0;
}
.testimonial-info .ratings-full::before, .testimonial-info .ratings::before {
  letter-spacing: 0.28em;
}

.testimonial-title {
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.testimonial-shadow {
  background-color: #f8f8f8;
  padding: 3rem 3rem 2.3rem;
  -webkit-transition: background-color 0.4s, -webkit-box-shadow 0.4s;
  transition: background-color 0.4s, -webkit-box-shadow 0.4s;
  transition: background-color 0.4s, box-shadow 0.4s;
  transition: background-color 0.4s, box-shadow 0.4s, -webkit-box-shadow 0.4s;
}
.testimonial-shadow .testimonial-info {
  margin-bottom: 0;
}
.testimonial-shadow blockquote {
  margin-top: -0.1rem;
  margin-bottom: 0.6rem;
}
.testimonial-shadow:hover {
  -webkit-box-shadow: 1px 8px 9px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 8px 9px rgba(0, 0, 0, 0.1);
}

.testimonial-blockquote {
  padding-left: 0;
  padding-right: 0;
}
.testimonial-blockquote blockquote {
  overflow: visible;
  padding: 2.1rem 3rem;
  margin-bottom: 2rem;
  text-align: start;
  border: 1px solid #eee;
}
.testimonial-blockquote blockquote::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5.3rem;
  display: block;
  width: 13px;
  height: 13px;
  background-color: #fff;
  border: 1px solid #eee;
  border-left: 0;
  border-top: 0;
  -webkit-transform: rotate(45deg) translateY(70%);
          transform: rotate(45deg) translateY(70%);
}
.testimonial-blockquote .testimonial-info {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 2rem;
}
.testimonial-blockquote .testimonial-author-thumbnail {
  margin-bottom: 0;
  margin-right: 1.5rem;
  width: 7rem;
  height: 7rem;
}
.testimonial-blockquote cite {
  margin-bottom: 0.2rem;
}
.testimonial-blockquote cite span {
  margin-top: 0.2rem;
  text-align: start;
}
.testimonial-blockquote .testimonial-action {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0;
  color: #999;
  margin-left: auto;
}
.testimonial-blockquote .testimonial-action a {
  color: inherit;
}
.testimonial-blockquote .testimonial-action a:hover {
  color: #336699;
}
.testimonial-blockquote .testimonial-action i {
  margin-left: 0.5rem;
}

.testimonial-inversed .testimonial-info {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.testimonial-inversed .testimonial-author-thumbnail {
  margin: 0 0 0 1.5rem;
}
.testimonial-inversed cite span {
  text-align: end;
}
.testimonial-inversed blockquote::after {
  left: auto;
  right: 4.1rem;
}

.testimonial-centered {
  text-align: center;
}
.testimonial-centered blockquote {
  margin-left: auto;
  margin-right: auto;
}

.testimonial-bg {
  padding: 2rem;
}
.testimonial-bg .testimonial-info {
  margin-bottom: 2.6rem;
}
.testimonial-bg blockquote {
  max-width: 87.5rem;
  color: #cecece;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.testimonial-bg .testimonial-author-thumbnail {
  margin-bottom: 0;
  width: 10rem;
  height: 10rem;
}
.testimonial-bg cite {
  color: #fff;
}
.testimonial-bg cite span {
  margin: 0.3rem 0 1.6rem;
  color: #cecece;
}

.slider-section {
  margin-bottom: 3.6rem;
}

.parallax-testimonial-section {
  margin-bottom: 4.7rem;
}





.ratings-container.comment-rating {
  margin-bottom: 1.3rem;
}
.ratings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
}
.testimonial-info .ratings-full::before, .testimonial-info .ratings::before {
  letter-spacing: 0.28em;
}
.ratings::before {
  content: "" "" "" "" "";
  color: #f93;
}


/* aside*/
aside .service-list {
  padding: 0 2rem;
  border: 1px solid #eee;
}
aside .service-list > * {
  padding: 1.6rem 0;
}
aside .service-list > *:not(:last-child) {
  border-bottom: 1px solid #eee;
}
aside .service-list .icon-box svg {
  width: 3rem;
  height: 3rem;
}
aside .service-list .icon-box-title {
  font-size: 1.3rem;
  line-height: 1.3;
  letter-spacing: 0;
}
aside .service-list p {
  font-size: 1.2rem;
  line-height: 1.2;
}
aside .sp-sidebar-banner .banner-content {
  top: 9%;
  left: 6.5%;
}
aside .sp-sidebar-banner .banner-title, aside .sp-sidebar-banner .banner-subtitle {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  margin-bottom: 0.5rem;
}
aside .sp-sidebar-banner span {
  font-size: 2.4rem;
  margin-right: 0.5rem;
}
/*----------------------------------------
    Calendar
-----------------------------------------*/
.calendar {
  font-size: 1.3rem;
  letter-spacing: 0;
  text-align: center;
}
.calendar .calendar-header {
  position: relative;
  padding: 1.7rem 1rem;
  background-color: #008000;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-transform: capitalize;
  border-radius: 0.3rem;
}
.calendar .calendar-header a {
  color: inherit;
}
.calendar thead {
  font-size: 1.3rem;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
}
.calendar th {
  padding: 1.8rem 0 0.9rem;
}
.calendar td {
  padding: 0.9rem 0;
}
.calendar .btn-calendar {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
}
.calendar .btn-calendar i {
  font-weight: 600;
}
.calendar .btn-calendar.btn-calendar-prev {
  left: 2rem;
}
.calendar .btn-calendar.btn-calendar-next {
  right: 2rem;
}
.calendar .btn-calendar:hover {
  color: #fff;
}
.calendar .disabled {
  color: #999;
}
.calendar .today {
  color: #008000;
  font-weight: 600;
  font-size: larger;
}

